button,div, form, input{
	marging: 10px;
}
h1{
	text-transform:uppercase;
	margin-bottom:50px;
	font-size:50px;
	color:white;
}
h2{
	color:white;
}
#reactionsView{
	float:left;
	width: 50px;
	position: fixed;
	left: 40px;
	padding-right:70px;
	padding-top: 20px;
	padding-left:30px;
	padding-bottom:10px;
	background-color:purple;
	border-radius: 8px;

}
.reaction{
	border-radius: 10px;
	padding: 5px;
	margin: 2px;
}
.reaction:hover{
	color:yellow;
	background-color:blue;
}
#gifsAppearHere{
	width:70%;
	display:block;
	margin:auto;
}
img{
	clear:both;
	margin:40px;
}
p{
	display:inline-block;
	float:left;
	color:white;
}
#gifsAppearHere div{
	width: 50%;
	margin:0px;
	float:left;
}
#addReaction{
	margin:10px;
}
body{
	background-image:url("http://p1.pichost.me/i/66/1911707.jpg");
}